vtp-pensjon-application/src/main/resources/wsdl/trekk/no/nav/lib/sto/sam/asbo/trekk/ASBOStoMaksbelop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/trekk">
  <xsd:complexType name="ASBOStoMaksbelop">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="belopMax" type="xsd:string"/>
      <xsd:element minOccurs="0" name="periodeKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gyldig" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
