vtp-pensjon-application/src/main/resources/wsdl/samperson/no/nav/lib/sto/sam/asbo/person/ASBOStoMatrikkelAdresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/person">
  <xsd:complexType name="ASBOStoMatrikkelAdresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mellomAdresse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gardsnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bruksnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="festenr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="undernr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
