vtp-pensjon-application/src/main/resources/wsdl/samordning/no/nav/lib/sto/sam/asbo/person/ASBOStoOffentligAdresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/person">
  <xsd:complexType name="ASBOStoOffentligAdresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gatenavn" type="xsd:string"/>
      <xsd:element minOccurs="0" name="husnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bokstav" type="xsd:string"/>
      <xsd:element minOccurs="0" name="bolignr" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
