vtp-pensjon-application/src/main/resources/wsdl/samordning/no/nav/lib/sto/sam/asbo/person/ASBOStoNorskKonto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/person">
  <xsd:complexType name="ASBOStoNorskKonto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kontonummer" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endretAv" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endretAvSystem" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endretTidspunkt" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
