vtp-pensjon-application/src/main/resources/wsdl/samordning/no/nav/lib/sto/sam/asbo/samordning/ASBOStoVarsleVedtakSamordningRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/samordning" xmlns:bons2="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/samordning">
    <xsd:include schemaLocation="ASBOStoArbeidOgAktivitetsvedtak.xsd"/>
	<xsd:import namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak" schemaLocation="../vedtak/ASBOStoVedtak.xsd"/>
	<xsd:complexType name="ASBOStoVarsleVedtakSamordningRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="tpnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tssEksternId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="samId" type="xsd:string"/>
			<xsd:element minOccurs="0" name="gjelderFnr" type="xsd:string"/>
			<xsd:element minOccurs="0" name="vedtak" type="bons2:ASBOStoVedtak"/>
			<xsd:element minOccurs="0" name="arbeidOgAktivitetsvedtak" type="bons0:ASBOStoArbeidOgAktivitetsvedtak"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
