vtp-pensjon-application/src/main/resources/wsdl/samhandler/no/nav/lib/sto/sam/asbo/samhandler/ASBOStoHentSamhandlerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/samhandler">
  <xsd:complexType name="ASBOStoHentSamhandlerRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTSSEkstern" type="xsd:string"/>
      <xsd:element minOccurs="0" name="hentDetaljert" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
