vtp-pensjon-application/src/main/resources/wsdl/samhandler/no/nav/lib/sto/sam/asbo/samhandler/ASBOStoAvdeling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/samhandler"
	xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/samhandler">
	<xsd:import
		namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo"
		schemaLocation="../ASBOStoAdresse.xsd" />
	<xsd:include schemaLocation="ASBOStoKonto.xsd" />
	<xsd:complexType name="ASBOStoAvdeling">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="idTSSEkstern"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingNavn"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingType"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="avdelingnr"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="kontaktperson"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="telefon" type="xsd:string" />
			<xsd:element minOccurs="0" name="epost" type="xsd:string" />
			<xsd:element minOccurs="0" name="mobil" type="xsd:string" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="kontoer" type="bons0:ASBOStoKonto" />
			<xsd:element minOccurs="0" name="uAdresse"
				type="bons1:ASBOStoAdresse" />
			<xsd:element minOccurs="0" name="aAdresse"
				type="bons1:ASBOStoAdresse" />
			<xsd:element minOccurs="0" name="pAdresse"
				type="bons1:ASBOStoAdresse" />
			<xsd:element minOccurs="0" name="tAdresse"
				type="bons1:ASBOStoAdresse" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
