vtp-pensjon-application/src/main/resources/wsdl/samordning/no/nav/lib/sto/sam/asbo/vedtak/ASBOStoVentetillegg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak" xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak">
    <xsd:include schemaLocation="ASBOStoYtelseskomponent.xsd"/>
    <xsd:complexType name="ASBOStoVentetillegg">
    <xsd:complexContent>
      <xsd:extension base="bons0:ASBOStoYtelseskomponent">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="ventetilleggGrunnpensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ventetilleggTilleggspensjon" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ventetilleggProsent" type="xsd:double"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
