vtp-pensjon-application/src/main/resources/wsdl/samordning/no/nav/lib/sto/sam/asbo/vedtak/ASBOStoTilleggspensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak" xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/vedtak">
    <xsd:include schemaLocation="ASBOStoSluttpoengtall.xsd"/>
    <xsd:include schemaLocation="ASBOStoYtelseskomponent.xsd"/>
    <xsd:complexType name="ASBOStoTilleggspensjon">
    <xsd:complexContent>
      <xsd:extension base="bons0:ASBOStoYtelseskomponent">
                <xsd:sequence>
      <xsd:element minOccurs="0" name="spt" type="bons0:ASBOStoSluttpoengtall"/>
                    <xsd:element minOccurs="0" name="ypt" type="bons0:ASBOStoSluttpoengtall"/>
                    <xsd:element minOccurs="0" name="opt" type="bons0:ASBOStoSluttpoengtall"/>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
