vtp-pensjon-application/src/main/resources/wsdl/tjenestepensjon/no/nav/lib/sto/sam/asbo/tjenestepensjon/ASBOStoTjenestepensjonYtelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/tjenestepensjon">
    <xsd:import namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" schemaLocation="../ASBOStoEndringsInfo.xsd"/>
    <xsd:complexType name="ASBOStoTjenestepensjonYtelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ytelseId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="innmeldtFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="ytelseKode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ytelseBeskrivelse" type="xsd:string"/>
      <xsd:element minOccurs="0" name="iverksattFom" type="xsd:date"/>
      <xsd:element minOccurs="0" name="iverksattTom" type="xsd:date"/>
            <xsd:element minOccurs="0" name="endringsInfo" type="bons0:ASBOStoEndringsInfo"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
