vtp-pensjon-application/src/main/resources/wsdl/tjenestepensjon/no/nav/lib/sto/sam/asbo/tjenestepensjon/ASBOStoTjenestepensjon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons1="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" xmlns:bons2="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/tjenestepensjon" targetNamespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo/tjenestepensjon">
    <xsd:import namespace="http://nav-lib-cons-sto-sam/no/nav/lib/sto/sam/asbo" schemaLocation="../ASBOStoEndringsInfo.xsd"/>
    <xsd:include schemaLocation="ASBOStoTjenestepensjonforhold.xsd"/>
    <xsd:complexType name="ASBOStoTjenestepensjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="personId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="endringsInfo" type="bons1:ASBOStoEndringsInfo"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tjenestepensjonsforholdListe" type="bons2:ASBOStoTjenestepensjonforhold"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
